<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections/>
  <connectionStrings>
    <add name="MyConnectionString" connectionString="Server=localhost;Port=5432;Database=postgres;User Id=postgres; Password=123qwe" providerName="Npgsql"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <urlMappings>
    </urlMappings>
  </system.web>

  <location allowOverride="true" inheritInChildApplications="true">
    <appSettings>
 

      <add key="urlportal"  value="localhost:7475/"/>
    </appSettings>
  </location>
</configuration>